# ——— Blockchain RPC Endpoints ———

# Ethereum Mainnet (chainId: 1)
RPC_ETH_HTTP=

# Ink Mainnet (chainId: 57073)
RPC_INK_HTTP=

# ——— Prometheus Metrics Ports ———

PROMETHEUS_ETH_PORT=
PROMETHEUS_INK_PORT=

# ——— Database ———

DB_URL=
DB_PORT=

# ——— GraphQL ———

GQL_PORT=
